my-menu {
  .labelContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:99;
	background-color: rgba(255, 255, 255, 0.5);

	.container{
	  position: absolute;
	  bottom: $fab-content-margin * 3.4 + $fab-size;
	  right: 20%;
	}

	opacity: 0;
	visibility: hidden;
  }

  .labelContainer.show {
	opacity: 1;
	visibility: visible;
  }

  .label{
	font-family: Arial;
	text-align: left;
	color:white;
	background: #71a3e2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 7px;
	width:220px;
	margin-top: ($fab-list-margin * 2.5);
	margin-right: 0px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
  }

  .label.show{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: all ease-in-out 200ms;
	transition-property: transform, opacity;
  }
}